.fruitTart {
	background-color: orange;
	color: white;
	padding: 40px;
}

/* Random Quote Machine Begin CSS */

.quote_insert {
	text-align: center;
    font-family: monospace;
    font-weight: 100;
    margin-top: 7em;
    width: 100%;
}
#quote_button {
	background-color: white;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
    