/* General Rules Begin */

body {
    font-family: 'Cinzel', serif;
    background-image: url(../images/imperial_guard_war.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    max-width: 100%;
}

.home_container {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(71, 74, 70, 0.7);
}

.header {
  text-align: center;
  margin: 0;
}

.home_race_image {
    display: inline-block;
    padding: 0;
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

/* The element to apply the animation to */
.home_races_container {
  margin-left: auto;
  margin-right: auto;
}

.home_races_container h1 {
  color: #EFEFEF;
}

.home_race_image_link {
  display:inline-block;
  position: relative;
}

/* General Rules End */

/* Mobile Screen Size Begin */

@media only screen and (max-width: 599px) {

  /* Home Page Begin */

  .home_container {
    width: 100%;
  }

  .home_race_image {
    margin: 1em 1em 0 1em;
  }
  /* Home Page End */
}

/* Mobile Screen Size End */

/* Desktop Screen Size Begin */

@media only screen and (min-width: 600px) {

  /* Home Page Begin */

  .home_races_container {
    width: 70%;
    position: relative;
    top: 5em;
    padding: 21px;
  }

  .home_race_image {
    margin: 2em 1em 0 2em;
  }

  /* Home Page End */
}

/* Desktop Screen Size End */



.fruitTart {
	background-color: orange;
	color: white;
	padding: 40px;
}

/* Random Quote Machine Begin CSS */

.quote_insert {
	text-align: center;
    font-family: monospace;
    font-weight: 100;
    margin-top: 7em;
    width: 100%;
}
#quote_button {
	background-color: white;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.h1_pretty {
    background-color: purple;
    font-size: 32px;
    opacity: 0.5;
    width: 100%;
    text-align: center;
}

.body_pretty {
    background-color: grey;
}

.div_pretty {
    background-color: white;
    color: orange;
    font-size: 22px;
}
    