/* General Rules Begin */

* { margin: 0; padding: 0; }

html {
  height: 100%;
}

body {
    font-family: 'Cinzel', serif;
    height: 100%;
    color: white;
}

img {
    max-width: 100%;
}

figure, figcaption {
  text-decoration: none !important;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* Navigation CSS */

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    overflow: auto;
    background-color: rgba(51, 51, 51, 0.81);
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #111;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


/* Navigation CSS End */

.left-container, .right-container {
  width: 49.5%;
  float: left;
  height: 100%;
  color: white;
  text-align: center;
}

.right-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.site_container {
  background-color: black;
}

.home_container {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(71, 74, 70, 0.7);
}

.home_container {
  background-image: url(../images/imperial_guard_war.jpg);
}

.race_section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.header {
  text-align: center;
  margin: 0;
}

.home_race_image {
    display: inline-block;
    padding: 0;
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

.home_races_container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home_races_container h1 {
  color: #EFEFEF;
}

.home_race_image_link {
  display:inline-block;
  position: relative;
}

#chaos .right-container {
  background-image: url(../images/chaos.jpg);
}

#eldar .right-container {
  background-image: url(../images/eldar.jpg);
}

#necron .right-container {
  background-image: url(../images/necron.jpg);
}

#ork .right-container {
  background-image: url(../images/ork_ship.jpg);
}

#imperial_guard .right-container {
  background-image: url(../images/imperial_guard_war.jpg);
}

#sister_of_battle .right-container {
  background-image: url(../images/sisters.jpg);
}

#imperial_knight .right-container {
  background-image: url(../images/knights.jpg);
}

#space_marine .right-container {
  background-image: url(../images/space_marine_army.jpg);
}

#tau .right-container {
  background-image: url(../images/tau_army.jpg);
}

#tyranid .right-container {
  background-image: url(../images/tyranic_vs_space_marine.jpg);
}
/* General Rules End */

@media only screen and (max-width: 1280px) {

  ul.topnav li:not(:first-child) {display: none;}

  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  ul.topnav.responsive {position: relative;}

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

}

/* Mobile Screen Size Begin */

@media only screen and (max-width: 599px) {

  /* Home Page Begin */

  .left-container, .right-container {
    width: 100%;
    display: block;
    height: 50%;
  }

  .home_container {
    width: 100%;
  }

  .home_race_image {
    margin: 1em 1em;
    width: 100px;
    height: 100px;
  }

  .left-container > div {
    font-size: 11px;
    position: relative;
    top: 19px;
  }



  /* Home Page End */
}

/* Mobile Screen Size End */

/* Tablet Screen Size Begin */

@media only screen and (min-width: 600px) and (max-width: 899px) {
  
  .home_races_container {
    width: 70%;
    position: relative;
    top: 5em;
    min-width: 600px;
  }

  .home_race_image {
    margin: 1em 0em 0 1em;
    width: 130px;
    height: 130px;
  }

  .left-container > div {
    position: relative;
    top: 11em;
  }

}

/* Tablet Screen Size End */

/* Desktop Screen Size Begin */

@media only screen and (min-width: 900px) {

  /* Home Page Begin */

  .home_races_container {
    width: 80%;
    position: relative;
    top: 5em;
    padding: 21px;
    min-width: 900px;
  }

  .home_race_image {
    margin: 2em 1em 0 2em;
  }

  .left-container > div {
    position: relative;
    top: 11em;
  }
  /* Home Page End */
}

/* Desktop Screen Size End */
 